.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-family: din-round,sans-serif;
}

.button1 {
  padding: 20px 20px;
  background-color: #131212;
  color: rgb(250, 248, 244);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer; 
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
}

.button1:after {
  background-clip: padding-box;
  background-color: #1cd2f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button1:main,
.button1:focus {
  user-select: auto;
}

.button1:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button1:disabled {
  cursor: auto;
}

.button1:active {
  border-width: 4px 0 0;
  background: none;
}
  

.accordion {
  width: 500px;
}

.item {
  background: #71ee3b;
  border-radius: 13px;
  margin-bottom: 10px;
  padding: 5px 5px;
}

.title {
  color: #131212;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.content {
  color: rgb(231, 233, 235);
  height: auto;
}
